$font-stack:    Helvetica, sans-serif;
$primary-color: #ED3323;
$secondary-color: #333333;
$black-color: #474747;
$red-color: #ED3323;
$dark-red-color: #D92E22;
$bg-color:#EFEFEF;
$white-color:#FFF;
$option-color:#BD9C6A;
