
@font-face {
  font-family: "SevenOneEight-Black";
  src: local("SevenOneEight-Black.ttf"),
  url(./fonts/SevenOneEight-Black.ttf) format("truetype");
}

@font-face {
  font-family: SevenOneEight-Book;
  src: local("SevenOneEight-Book.ttf"),
  url(./fonts/SevenOneEight-Book.ttf) format("truetype");
}
@font-face {
  font-family: SevenOneEight-ExtraBold;
  src: local("SevenOneEight-ExtraBold.ttf"),
  url(./fonts/SevenOneEight-ExtraBold.ttf) format("truetype");
}
@font-face {
  font-family: SevenOneEight-Light;
  src: local("SevenOneEight-Light.ttf"),
  url(./fonts/SevenOneEight-Light.ttf) format("truetype");
}
@font-face {
  font-family: SevenOneEight-Medium;
  src: local("SevenOneEight-Medium.ttf"),
  url(./fonts/SevenOneEight-Medium.ttf) format("truetype");
}
